$bgGradient: linear-gradient(
    135deg,
    #ef74ff,
    #7482ff,
    #74bcff,
    #00ff6a
);

$borderGradient: linear-gradient(
    135deg,
    #263c74,
    #b43f8d,
    #251950
);

$acceptGradient: linear-gradient(
    135deg,
    #00ff00,
    #59ee59,
    #509b6d
);

$denyGradient: linear-gradient(
    135deg,
    #ff0000,
    #ec4848,
    #742667
);

$activeGradient: linear-gradient(
    135deg,
    #000,
    #444,
    #222
);

$borderRadius: 15px;
$padding: 20px;